---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogCard from "../../components/cards/BlogCard.astro";
import Pagination from "../../components/controls/Pagination.astro";

export async function getStaticPaths({ paginate }) {
  const blogPages = (await getCollection("posts")).sort(
    (a, b) => b.data.published - a.data.published,
  );
  return paginate(blogPages, { pageSize: 6 });
}

const { page } = Astro.props;
const title =
  page.currentPage === 1 ? "Blog | amelliya" : `Blog – Page ${page.currentPage} | amelliya`;
const description = "Blog of amelliya";
---

<BaseLayout title={title} description={description}>
  <h1>Blog Archives</h1>
  <div class="archive">
    {page.data.map((post) => <BlogCard href={`/blog/${post.id}`} frontmatter={post.data} />)}
  </div>
  {
    page.lastPage > 1 && (
      <Pagination
        currentPage={page.currentPage}
        lastPage={page.lastPage}
        prevUrl={page.url.prev}
        nextUrl={page.url.next}
      />
    )
  }
</BaseLayout>

<style>
  .archive {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-md-lg);
    margin-block-end: var(--space-sm-md);
  }

  @media only screen and (min-width: 36rem) {
    .archive {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (min-width: 62rem) {
    .archive {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
