---
import { ImageMetadata } from "astro";
import { Picture } from "astro:assets";
import CalendarIcon from "../../assets/svg/icons/calendar-clear-outline.svg";

const { href, frontmatter, ...rest } = Astro.props;
const date = new Date(frontmatter.updated).toLocaleDateString(undefined, {
  year: "numeric",
  month: "short",
  day: "numeric",
});

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif}",
);
if (!images[frontmatter.thumbnail.imagePath])
  throw new Error(
    `"${frontmatter.thumbnail.imagePath}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`,
  );
---

<a href={href} class="blog-card" aria-label=`Link to article: ${frontmatter.title}` {...rest}>
  <Picture
    class="post-thumbnail"
    src={images[frontmatter.thumbnail.imagePath]()}
    alt={frontmatter.thumbnail.alt}
  />
  <div class="blog-card-content">
    <div class="post-tags">
      {frontmatter.tags.map((tag: string) => <span class="post-metadata post-tag">{tag}</span>)}
    </div>
    <hgroup>
      <h3 class="post-heading">{frontmatter.title}</h3>
      <p class="post-desc">{frontmatter.description}</p>
    </hgroup>
    <div class="post-date">
      <CalendarIcon class="calendar" aria-hidden={true} />
      <time class="post-metadata" datetime={frontmatter.updated}>{date}</time>
    </div>
  </div>
</a>

<style>
  .blog-card {
    position: relative;
    z-index: 10; /* prevent z-fighting with border & thumbnail */
    display: flex;
    flex-direction: column;
    min-inline-size: 200px;

    border-radius: var(--border-radius-lg);
    outline: 1px solid var(--color-accent);
    color: var(--color-text-light);
    background: var(--color-bg-bright);
    box-shadow: var(--box-shadow-md);
    overflow: hidden;
  }

  .blog-card:hover,
  .blog-card:focus {
    transform: translateY(-4px);
    box-shadow: var(--box-shadow-lg);
  }

  .blog-card:focus {
    outline-color: var(--color-selected);
    outline-width: 2px;
  }

  .blog-card:hover::after,
  .blog-card:focus::after {
    opacity: 1;
  }

  .blog-card-content {
    display: flex;
    flex-direction: column;
    block-size: 100%;
    padding: var(--space-xs);
  }

  .post-thumbnail {
    aspect-ratio: 3 / 2;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    box-shadow: var(--box-shadow-lg);
  }

  .post-heading {
    margin-block-start: var(--space-2xs);
    color: var(--color-heading);
  }

  .post-desc {
    margin-block: 0 var(--space-xs);
  }

  .post-metadata {
    font-family: var(--typeface-workhorse);
    font-size: var(--font-size-sm);
  }

  .post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-2xs);
  }

  .post-tag {
    padding: var(--space-3xs) var(--space-xs);
    border-radius: var(--border-radius-md);
    font-weight: var(--semibold);
    color: var(--color-text-dark);
    background-color: var(--color-secondary);
  }

  .calendar {
    inline-size: var(--space-xs);
    block-size: var(--space-xs);
    transform: translateY(10%);
    color: var(--color-secondary);
  }

  @media (prefers-reduced-motion: no-preference) {
    .blog-card {
      transition: transform var(--anim-length-short) ease-in-out;
    }
  }
</style>
