---
import CalendarIcon from "@icons/calendar-clear-outline.svg";
import TimeIcon from "@icons/time-outline.svg";

const { href, frontmatter, ...rest } = Astro.props;
const date = frontmatter.published.toLocaleDateString(undefined, {
  year: "numeric",
  month: "short",
  day: "numeric",
  timeZone: "UTC",
});
---

<a href={href} class="blog-card" {...rest}>
  <div class="blog-card-content">
    <hgroup>
      <h3 class="post-heading">{frontmatter.title}</h3>
      <p class="post-desc">{frontmatter.description}</p>
    </hgroup>
    <ul class="metadata-container">
      <li>
        <TimeIcon class="post-icon" aria-hidden={true} />
        <span class="post-metadata">{frontmatter.readingTime}</span>
      </li>
      <li>
        <CalendarIcon class="post-icon" aria-hidden={true} />
        <time class="post-metadata" datetime={frontmatter.published}>{date}</time>
      </li>
    </ul>
  </div>
</a>

<style>
  .blog-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-inline-size: 200px;

    border-radius: var(--border-radius-lg);
    color: var(--color-text-light);
    background: var(--color-bg-bright);
    outline: 2px solid color-mix(in srgb, var(--color-accent) 0%, transparent);
    box-shadow: var(--box-shadow-md);
    overflow: hidden;
  }

  .blog-card:hover,
  .blog-card:focus {
    transform: scale(102.5%);
    box-shadow: var(--box-shadow-lg);
    outline: 2px solid color-mix(in srgb, var(--color-accent) 100%, transparent);
  }

  .blog-card:hover .post-heading,
  .blog-card:focus .post-heading {
    color: var(--color-secondary);
  }

  .blog-card:focus {
    outline-color: var(--color-selected);
    outline-width: 2px;
  }

  .blog-card:hover::after,
  .blog-card:focus::after {
    opacity: 1;
  }

  .blog-card-content {
    display: flex;
    flex-direction: column;
    block-size: 100%;
    padding: var(--space-xs);
  }

  .post-heading,
  .post-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .post-heading {
    font-weight: var(--medium);
    font-size: var(--font-size-md);
    margin-block-start: var(--space-3xs);
    color: var(--color-heading);
  }

  .post-desc {
    font-family: var(--typeface-workhorse);
    margin-block: 0 var(--space-xs);
  }

  .metadata-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space-2xs-xs);
    margin-block-start: auto;
  }

  .post-metadata {
    font-family: var(--typeface-workhorse);
    font-size: var(--font-size-sm);
    color: var(--color-text-faint);
  }

  .post-icon {
    inline-size: var(--space-xs);
    block-size: var(--space-xs);
    transform: translateY(10%);
    color: var(--color-primary);
  }

  .post-tag {
    padding: var(--space-3xs) var(--space-xs);
    border-radius: var(--border-radius-md);
    font-weight: var(--semibold);
    color: var(--color-text-faint);
    background-color: var(--color-bg-dark);
  }

  @media (prefers-reduced-motion: no-preference) {
    .blog-card {
      transition:
        transform var(--anim-length-short) ease-in-out,
        outline var(--anim-length-short) ease-in-out;
    }

    .post-heading {
      transition: color var(--anim-length-short) ease-in-out;
    }
  }
</style>
