---
import { useTranslations } from "@i18n/utils.ts";
import { execSync } from "child_process";
import { statSync } from "node:fs";
import path from "node:path";
import OpenIcon from "@icons/open-outline.svg";

const getLastUpdatedDate = (collection: string, id: string): Date => {
  const filepath = path.join(process.cwd(), "src", "content", collection, id);

  try {
    const stdout = execSync(`git log -1 --format="%cI" "${filepath}"`);
    const gitDate = stdout.toString().trim();
    if (gitDate) return new Date(gitDate);
  } catch (error) {
    console.warn(`Failed to get git history for ${filepath}. Falling back to fs.`);
  }

  try {
    return statSync(filepath).mtime;
  } catch (fsError) {
    console.error(`File not found: ${filepath}`);
    return new Date();
  }
};

const { project } = Astro.props;
const t = useTranslations(Astro.currentLocale as string);
const updated = getLastUpdatedDate(project.collection, project.id);
const Container = project.data.projectLink ? "a" : "div";
const containerAttrs = project.data.projectLink
  ? { href: project.data.projectLink, "aria-labelledby": `project-${project.id}` }
  : {};
---

<Container class="pin-card" data-pin-size={project.data.pinSize} {...containerAttrs}>
  <div class="pin-content">
    <span class="pin-icon" aria-hidden="true"></span>
    <h3 class="pin-heading" id={`project-${project.id}`}>
      {project.data.workingTitle}
      <span class="pin-progress">{project.data.progress}%</span>
      {project.data.projectLink && <OpenIcon class="open" aria-hidden={true} />}
    </h3>
    <p class="pin-desc">{project.data.description}</p>
  </div>
  <span class="pin-updated">
    {
      t("pin card.updated on", {
        dateString: updated.toLocaleDateString(undefined, {
          year: "numeric",
          month: "short",
          day: "numeric",
          timeZone: "UTC",
        }),
      })
    }
  </span>
</Container>

<style>
  .pin-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    min-inline-size: 140px;
    max-inline-size: 36ch;
    aspect-ratio: 1 / 1;
    padding: var(--space-md) var(--space-md) var(--space-sm) var(--space-sm);
    border-radius: var(--border-radius-sm);
    color: var(--color-text-dark);
    background-color: var(--color-accent);
    box-shadow: var(--box-shadow-lg);
  }

  .pin-card:nth-child(odd) {
    background-color: var(--color-accent-dark);
  }

  .pin-icon {
    display: block;
    position: absolute;
    inset-inline: 0;
    margin-inline: auto;
    inset-block-start: 12px;
    inline-size: var(--space-xs);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-color: var(--_pin-board-bg);
    box-shadow: inset 0 -2px 4px rgb(14 13 17 / 45%);
  }

  .pin-icon::after {
    display: block;
    content: "📌";
    position: absolute;
    margin-block-start: -125%;
    font-size: var(--font-size-md);
    filter: drop-shadow(0 -2px 8px rgb(14 13 17 / 40%));
  }

  .pin-heading {
    display: flex;
    align-items: center;
    gap: var(--space-3xs);
    font-size: var(--font-size-md);
    font-weight: var(--medium);
  }

  .project-link {
    color: inherit;
  }

  .open {
    margin-inline-start: auto;
    inline-size: var(--space-sm);
    block-size: var(--space-sm);
  }

  .project-link:hover,
  .project-link:focus {
    color: var(--color-bg-bright);
  }

  .pin-desc {
    margin-block: 0 var(--space-2xs);
  }

  .pin-progress,
  .pin-update {
    font-family: var(--typeface-workhorse);
    font-weight: var(--medium);
  }

  .pin-progress {
    padding: var(--space-3xs) var(--space-2xs);
    border-radius: var(--border-radius-lg);
    font-size: var(--font-size-base);
    color: var(--color-text-dark);
    background-color: rgb(250 250 250 / 50%);
  }

  .pin-updated {
    font-size: var(--font-size-sm);
  }

  @media (prefers-reduced-motion: no-preference) {
    .pin-card {
      transition: transform var(--anim-length-short) ease-in-out;
    }

    .pin-card:hover {
      transform: rotate(-4deg);
    }
  }
</style>
