---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ImageCard from "../components/cards/ImageCard.astro";
import BlogCard from "../components/cards/BlogCard.astro";
import LinkButton from "../components/controls/links/LinkButton.astro";

const recentPosts = (
  await getCollection("posts", ({ data }) => {
    return !data.draft;
  })
)
  .sort(function (a, b) {
    return b.data.published - a.data.published;
  })
  .slice(0, 4);
const games = await getCollection("games");
const projects = await getCollection("projects");

const title = "Home | Jane Doe";
const description = "My site's homepage";
---

<BaseLayout title={title} description={description}>
  <section class="welcome" aria-label="Website welcome note">
    <h1 class="who">Hello, World! I'm <b>Jane</b></h1>
    <h2 class="what">I make stuff sometimes</h2>
  </section>

  <section class="featured full-width" aria-label="Featured games">
    <h2 class="featured-headline">EXPLORE THE [UNIVERSE]</h2>
    <hr class="featured-hr" />
    <div class="featured-grid">
      {
        games.map((game) => (
          <div class="game-card">
            <a
              href={`/games/${game.data.route}`}
              class="game-cover"
              aria-label={`Link to ${game.data.title}`}
            >
              <ImageCard imagePath={game.data.keyArt.imagePath} alt="" />
            </a>
            <span class="game-title">{game.data.title}</span>
          </div>
        ))
      }
    </div>
  </section>

  <section class="projects" aria-label="Projects I'm currently working on">
    <h2 class="project-board-header">Jane's Project Board</h2>
    <div class="project-board">
      {
        projects.map((project) => (
          <div class="project-pin" data-pin-size={project.data.pinSize}>
            <div class="pin-content">
              <h3>
                {project.data.workingTitle}{" "}
                <span class="pin-progress">{project.data.progress}%</span>
              </h3>
              <p>{project.data.description}</p>
            </div>
            <span class="pin-updated">
              Last updated{" "}
              {new Date(project.data.updated).toLocaleDateString(undefined, {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
            </span>
          </div>
        ))
      }
    </div>
  </section>

  <section class="blog-posts full-width" aria-label="Latest blog posts">
    <h2>Latest Posts</h2>
    <div class="blog-content">
      {
        recentPosts.map((post) => (
          <BlogCard
            slug={post.slug}
            frontmatter={post.data}
            title={post.data.title}
            description={post.data.description}
            updated={post.data.updated}
            src={post.data.thumbnail.imagePath}
            alt={post.data.thumbnail.alt}
            tags={post.data.tags}
          />
        ))
      }
    </div>
    <div class="blog-archive">
      <LinkButton href="/blog" aria-label="Go to the blog">Visit the blog</LinkButton>
    </div>
  </section>
</BaseLayout>

<style>
  .welcome {
    margin-block-end: var(--space-2xl-4xl);
  }

  .who {
    color: var(--color-primary-100);
    margin-block-end: 0;

    > b {
      color: var(--color-primary-200);
    }
  }

  /* Featured section styling */
  .featured {
    padding-block: var(--space-md) var(--space-xl-2xl);
    margin-block-end: var(--space-2xl-4xl);
    background-color: var(--color-primary-900);
    box-shadow: var(--box-shadow-lg);
  }

  .featured-headline {
    border-radius: var(--border-radius-sm);
    font-weight: var(--black);
    color: var(--color-complement);
  }

  .featured-hr {
    inline-size: 100%;
    margin-block-end: var(--space-md);
    border: thin solid var(--color-accent);
  }

  .featured-grid {
    display: grid;
    gap: var(--space-md-lg);
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    justify-content: center;
    align-content: center;
    pointer-events: none;
  }

  /* Overlay for game cards */
  .featured-grid:hover > .game-card > .game-cover::before {
    opacity: 1;
  }

  .featured-grid:hover > .game-card > .game-title {
    color: var(--color-neutral-300);
  }

  /* Game card styling */
  .game-card {
    white-space: nowrap;
  }

  .game-cover {
    display: block;
    position: relative;
    aspect-ratio: 1 / 1;
    pointer-events: auto;
  }

  /* Overlay */
  .game-cover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 25%);
    opacity: 0;
  }

  /* Undo overlay if it is the selected element */
  .game-cover:hover,
  .game-cover:focus {
    transform: translateY(-4px);
  }

  .game-cover:hover::before,
  .game-cover:focus::before {
    opacity: 0 !important;
  }

  .game-cover:hover + .game-title,
  .game-cover:focus + .game-title {
    color: var(--color-neutral-100) !important;
  }

  .game-title {
    display: block;
    margin-block-start: var(--space-2xs);
    font-family: var(--typeface-workhorse);
    font-size: var(--font-size-base);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Progress board styling */
  .projects {
    margin-block-end: var(--space-2xl-4xl);
  }

  .project-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: var(--space-md);
    padding: var(--space-2xl) var(--space-xl);
    border-radius: var(--border-radius-lg);
    background-color: var(--color-neutral-950);
    outline: 1px solid var(--color-neutral-500);
    box-shadow: var(--box-shadow-lg);
  }

  .project-board-header {
    padding: var(--space-sm);
    border-radius: var(--border-radius-sm);
    font-weight: var(--bold);
    color: var(--color-neutral-950);
    background-color: var(--color-primary-400);
  }

  .project-pin {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-inline-size: min(10rem, 100%);
    max-inline-size: 15rem;
    aspect-ratio: 1 / 1;
    padding: var(--space-sm) var(--space-md);
    border-radius: var(--border-radius-sm);
    color: var(--color-neutral-950);
    background-color: #f5d294;
  }

  .project-pin::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 8px;
    width: var(--space-xs);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-color: var(--color-neutral-700);
    transform: translateX(-50%);
  }

  .project-pin:nth-child(odd) {
    background-color: #d9aa65;
  }

  .project-pin[data-pin-size="md"] {
    flex: 2;
  }

  .project-pin[data-pin-size="lg"] {
    flex: 4;
  }

  .project-pin:hover {
    transform: rotate(-2deg);
  }

  .pin-content > h3 {
    font-size: var(--font-size-md);
    font-weight: var(--medium);
  }

  .pin-content > p {
    margin-block: 0 var(--space-2xs);
  }

  .pin-progress {
    padding: var(--space-3xs) var(--space-2xs);
    border-radius: var(--border-radius-lg);
    font-family: var(--typeface-workhorse);
    font-size: var(--font-size-base);
    color: var(--color-neutral-950);
    background-color: rgb(255 255 255 / 50%);
  }

  .pin-updated {
    font-family: var(--typeface-workhorse);
    font-size: var(--font-size-sm);
    font-weight: var(--medium);
    color: var(--color-neutral-700);
  }

  /* Blog section styling */
  .blog-posts {
    background-color: var(--color-neutral-900);
    padding-block: var(--space-md-lg) var(--space-xl-2xl);
  }

  .blog-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: var(--space-lg);
    margin-block-end: var(--space-md);
    justify-content: center;
    align-content: center;
  }

  @media only screen and (min-width: 54rem) {
    .blog-content {
      grid-template-columns: repeat(
        auto-fit,
        minmax(min(calc(100% / 3 - var(--space-md)), 100%), 1fr)
      );
    }

    .blog-content > :first-child {
      grid-column: span 3;
    }
  }

  .blog-archive {
    text-align: center;
  }

  /* Animations for users who don't mind */
  @media (prefers-reduced-motion: no-preference) {
    /* Welcome section transitions */
    .who {
      display: inline-block;
      border-right: 0.15em solid var(--color-primary-400);
      animation:
        slide-in 0.6s cubic-bezier(0.12, 0, 0.39, 0) forwards,
        blink-caret 0.8s step-end infinite;
    }

    .what {
      opacity: 0;
      animation: slide-in 0.6s cubic-bezier(0.12, 0, 0.39, 0) 0.2s forwards;
    }

    /* Featured section transitions */
    .featured-headline {
      opacity: 0;
      animation: slide-in 0.6s cubic-bezier(0.12, 0, 0.39, 0) 0.35s forwards;
    }

    .featured > *:not(.featured-headline) {
      animation: fade-in 0.8s cubic-bezier(0.12, 0, 0.39, 0) forwards;
    }

    .game-cover {
      transition: transform var(--anim-length-short) ease-in-out;
    }

    .game-cover::before {
      transition: opacity var(--anim-length-short) ease-in-out;
    }

    .game-title {
      transition: color var(--anim-length-short) ease-in-out;
    }

    /* Project board transitions */
    .project-pin {
      transition: transform var(--anim-length-short) ease-in-out;
    }

    /* Keyframes */
    @keyframes slide-in {
      from {
        margin-inline: -80px 80px;
        opacity: 0;
      }

      to {
        margin-inline: 0;
        opacity: 1;
      }
    }

    @keyframes blink-caret {
      from,
      to {
        border-color: transparent;
      }
      50% {
        border-color: var(--color-primary-400);
      }
    }

    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
</style>
