---
import { getPaginatedList } from "../../scripts/paginator";
const { currentPage, lastPage, prevUrl, nextUrl } = Astro.props;

const paginatedList = getPaginatedList(currentPage, lastPage, 1);
---

<nav class="pagination" aria-label="pagination">
  <a
    href={prevUrl}
    class="chevron-button"
    aria-label="previous page"
    aria-hidden={!prevUrl && "true"}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="ionicon"
      viewBox="0 0 512 512"
      aria-hidden="true"
    >
      <path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="48"
        d="M328 112L184 256l144 144"
      >
      </path>
    </svg>
  </a>
  <menu>
    {
      paginatedList.map((page) =>
        page !== -1 ? (
          <li role="none">
            <a
              href={`/blog/${page}`}
              class="page-button"
              role="menuitem"
              aria-label={
                page === 1 ? "First page" : page === lastPage ? "Last page" : `Page ${page}`
              }
              aria-current={page === currentPage && "page"}
              tabindex={page === currentPage ? "-1" : "0"}
            >
              {page}
            </a>
          </li>
        ) : (
          <span class="ellipses" aria-hidden="true">
            ...
          </span>
        ),
      )
    }
  </menu>
  <a href={nextUrl} class="chevron-button" aria-label="next page" aria-hidden={!nextUrl && "true"}>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="ionicon"
      viewBox="0 0 512 512"
      aria-hidden="true"
    >
      <path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="48"
        d="M184 112l144 144-144 144"
      >
      </path>
    </svg>
  </a>
</nav>

<style>
  .pagination {
    display: flex;
    gap: var(--space-3xs-2xs);
    max-inline-size: 100%;
    min-inline-size: 0;
    margin-inline: auto;

    font-family: var(--typeface-workhorse);
    font-size: var(--font-size-base);
    font-weight: var(--bold);
  }

  menu {
    display: flex;
    align-items: end;
    overflow-x: auto;
  }

  a {
    --_height: var(--space-lg);

    display: block;
    inline-size: var(--_height);
    max-block-size: var(--_height);
    margin: var(--space-xs) var(--space-3xs);

    border-radius: var(--border-radius-md);
    text-align: center;
    line-height: var(--_height);
    color: var(--color-neutral-100);
  }

  .page-button:hover,
  .page-button:focus {
    outline: 3px solid var(--color-primary-400);
  }

  .page-button[aria-current="page"] {
    pointer-events: none;
    color: var(--color-neutral-950);
    background-color: var(--color-primary-400);
    box-shadow: var(--box-shadow-sm);
    transform: scale(105%);
  }

  .chevron-button {
    position: relative;
    background-color: var(--color-neutral-700);
    min-inline-size: var(--_height);
  }

  .chevron-button[href]:hover,
  .chevron-button[href]:focus {
    color: var(--color-neutral-950);
    background-color: var(--color-primary-200);
    transform: scale(105%);
  }

  .chevron-button:not([href]) {
    color: rgb(255 255 255/ 15%);
    background-color: rgb(20 20 20 / 35%);
  }

  .ionicon {
    position: absolute;
    top: 50%;
    left: 50%;
    inline-size: 60%;
    transform: translate(-50%, -50%);
  }

  .ellipses {
    color: var(--color-neutral-300);
    margin: 0 var(--space-2xs-xs) var(--space-xs) var(--space-2xs-xs);
  }

  @media (prefers-reduced-motion: no-preference) {
    .chevron-button[href] {
      transition:
        color var(--anim-length-short) ease-in-out,
        background-color var(--anim-length-short) ease-in-out,
        transform var(--anim-length-base) ease-in-out;
    }
  }
</style>
