---
import { getPaginatedList } from "@scripts/paginator";
const { currentPage, lastPage, prevUrl, nextUrl } = Astro.props;
import ChevronForward from "@icons/chevron-forward-outline.svg";
import ChevronBack from "@icons/chevron-back-outline.svg";

const { tag } = Astro.props;
const paginatedList = getPaginatedList(currentPage, lastPage, 1);
---

<nav class="pagination" aria-label="pagination">
  <a
    href={prevUrl}
    class="chevron-button"
    aria-label="previous page"
    aria-hidden={!prevUrl && "true"}
  >
    <ChevronBack class="chevron" aria-hidden={true} />
  </a>
  <ul class="page-list">
    {
      paginatedList.map((page) =>
        page !== -1 ? (
          <li>
            <a
              href={tag ? `/blog/${tag}/${page}` : `/blog/${page}`}
              class="page-button"
              aria-label={
                page === 1 ? "First page" : page === lastPage ? "Last page" : `Page ${page}`
              }
              aria-current={page === currentPage && "page"}
              tabindex={page === currentPage ? "-1" : "0"}
            >
              {page}
            </a>
          </li>
        ) : (
          <span class="ellipses" aria-hidden="true">
            ...
          </span>
        ),
      )
    }
  </ul>
  <a href={nextUrl} class="chevron-button" aria-label="next page" aria-hidden={!nextUrl && "true"}>
    <ChevronForward class="chevron" aria-hidden={true} />
  </a>
</nav>

<style>
  .pagination {
    display: flex;
    justify-content: center;
    gap: var(--space-3xs-2xs);
    max-inline-size: 100%;
    min-inline-size: 0;
    margin-inline: auto;

    font-family: var(--typeface-workhorse);
    font-size: var(--font-size-base);
    font-weight: var(--bold);
  }

  .page-list {
    display: flex;
    align-items: end;
    overflow-x: auto;
  }

  a {
    --_height: var(--space-lg);

    display: block;
    inline-size: var(--_height);
    max-block-size: var(--_height);
    margin: var(--space-xs) var(--space-3xs);

    border-radius: var(--border-radius-md);
    text-align: center;
    line-height: var(--_height);
    color: var(--color-text-light);
  }

  .page-button:hover,
  .page-button:focus {
    outline: 3px solid var(--color-primary);
  }

  .page-button[aria-current="page"] {
    pointer-events: none;
    color: var(--color-text-dark);
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow-sm);
    transform: scale(105%);
  }

  .chevron-button {
    position: relative;
    background-color: var(--color-bg-bright);
    min-inline-size: var(--_height);
  }

  .chevron-button[href]:hover,
  .chevron-button[href]:focus {
    color: var(--color-text-dark);
    background-color: var(--color-primary);
    transform: scale(105%);
  }

  .chevron-button:not([href]) {
    color: rgb(255 255 255/ 15%);
    background-color: rgb(20 20 20 / 35%);
  }

  .chevron {
    position: absolute;
    top: 50%;
    left: 50%;
    inline-size: 60%;
    transform: translate(-50%, -50%);
  }

  .ellipses {
    color: var(--color-text-faint);
    margin: 0 var(--space-2xs-xs) var(--space-xs) var(--space-2xs-xs);
  }

  @media (prefers-reduced-motion: no-preference) {
    .chevron-button[href] {
      transition:
        color var(--anim-length-short) ease-in-out,
        background-color var(--anim-length-short) ease-in-out,
        transform var(--anim-length-base) ease-in-out;
    }
  }
</style>
