---
import TikTokLogo from "@logos/tiktok.svg";
import YouTubeLogo from "@logos/youtube.svg";
import BlueskyLogo from "@logos/bluesky.svg";
import RedditLogo from "@logos/reddit.svg";
import GitHubLogo from "@logos/github.svg";

const tiktok = "https://www.tiktok.com/@liya_amelliya";
const youtube = "https://www.youtube.com/@liya_amelliya";
const bluesky = "https://bsky.app/profile/amelliya.bsky.social";
const reddit = "https://www.reddit.com/user/liya_amelliya";
const github = "https://github.com/amelliyaa";

export const getLinkText = (platform, isPersonal = false) =>
  `Link to ${isPersonal ? "liya" : "amelliya"}'s ${platform}`;
---

<ul class="social-media">
  <li>
    <a rel="me" href={tiktok} class="social-link" aria-label={getLinkText("TikTok")}>
      <TikTokLogo class="social-icon" aria-hidden={true} />
    </a>
  </li>

  <li>
    <a rel="me" href={youtube} class="social-link" aria-label={getLinkText("YouTube")}>
      <YouTubeLogo class="social-icon" aria-hidden={true} />
    </a>
  </li>

  <li>
    <a rel="me" href={bluesky} class="social-link" aria-label={getLinkText("Bluesky", true)}>
      <BlueskyLogo class="social-icon" aria-hidden={true} />
    </a>
  </li>

  <li>
    <a rel="me" href={reddit} class="social-link" aria-label={getLinkText("Reddit")}>
      <RedditLogo class="social-icon" aria-hidden={true} />
    </a>
  </li>

  <!--<li>-->
  <!--  <a rel="me" href={github} class="social-link" aria-label={getLinkText("GitHub")}>-->
  <!--    <GitHubLogo class="social-icon" aria-hidden={true} />-->
  <!--  </a>-->
  <!--</li>-->
</ul>

<style>
  .social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-md);
  }

  .social-link {
    display: inline-block;
    color: var(--color-text-light);
  }

  .social-link:hover,
  .social-link:focus {
    color: var(--color-primary);
  }

  .social-icon {
    inline-size: var(--font-size-2xl);
    block-size: var(--font-size-2xl);
  }

  .social-icon:hover,
  .social-icon:focus {
    transform: scale(105%);
  }

  @media (prefers-reduced-motion: no-preference) {
    .social-link {
      transition: color var(--anim-length-base) ease-in-out;
    }

    .social-icon {
      transition: transform var(--anim-length-short) ease-in-out;
    }
  }
</style>
