---
import TikTokLogo from "@logos/tiktok.svg";
import YouTubeLogo from "@logos/youtube.svg";
import TwitchLogo from "@logos/twitch.svg";
import PinterestLogo from "@logos/pinterest.svg";
import RedditLogo from "@logos/reddit.svg";
import GitHubLogo from "@logos/github.svg";

const tiktok = "https://www.tiktok.com/@__amelliya";
const youtube = "https://www.youtube.com/@aamelliya";
const twitch = "https://www.twitch.tv/amelliya_";
const pinterest = "https://www.pinterest.com/amelliyacore/";
const reddit = "https://www.reddit.com/user/amelliya";
const github = "https://github.com/amelliyaa";

export const getLinkText = (platform: string, isPersonal = false) =>
  `Link to ${isPersonal ? "liya" : "amelliya"}'s ${platform}`;
---

<ul class="social-media">
  <li>
    <a rel="me" href={pinterest} class="social-link" aria-label={getLinkText("Pinterest")}>
      <PinterestLogo class="social-icon" aria-hidden={true} />
    </a>
  </li>

  <li>
    <a rel="me" href={reddit} class="social-link" aria-label={getLinkText("Reddit")}>
      <RedditLogo class="social-icon" aria-hidden={true} />
    </a>
  </li>

  <li>
    <a rel="me" href={github} class="social-link" aria-label={getLinkText("GitHub")}>
      <GitHubLogo class="social-icon" aria-hidden={true} />
    </a>
  </li>
</ul>

<style>
  .social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-md);
  }

  .social-link {
    display: inline-block;
    color: var(--color-text-light);
  }

  .social-link:hover,
  .social-link:focus {
    color: var(--color-primary);
  }

  .social-icon {
    inline-size: var(--font-size-2xl);
    block-size: var(--font-size-2xl);
  }

  .social-icon:hover,
  .social-icon:focus {
    transform: scale(105%);
  }

  @media (prefers-reduced-motion: no-preference) {
    .social-link {
      transition: color var(--anim-length-base) ease-in-out;
    }

    .social-icon {
      transition: transform var(--anim-length-short) ease-in-out;
    }
  }
</style>
