---
import { type ComponentProps } from "astro/types";
import { type CollectionEntry } from "astro:content";
import BaseHead from "@components/BaseHead.astro";
import MainContentLink from "@components/controls/MainContentLink.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Article from "@components/schema-markup/Article.astro";

interface Props extends Omit<ComponentProps<typeof BaseHead>, "title" | "description"> {
  frontmatter: CollectionEntry<"posts">["data"];
}

const { frontmatter } = Astro.props;
const locale = Astro.currentLocale;
const ogImageUrl = `post-${frontmatter.locale}-${frontmatter.translationId}`;
const articleMetadata = {
  published: frontmatter.published,
  updated: frontmatter.updated,
  tags: frontmatter.tags,
};
---

<html lang={locale}>
  <head>
    <BaseHead
      title={frontmatter.title + " | amelliya"}
      description={frontmatter.description}
      type="article"
      image={ogImageUrl}
      article={articleMetadata}
    />
    <Article
      headline={frontmatter.title}
      datePublished={frontmatter.published}
      dateModified={frontmatter.updated}
      description={frontmatter.description}
    />
  </head>
  <body>
    <Header />
    <main>
      <MainContentLink />
      <header class="article-header"></header>
      <article id="main-content" class="content-grid">
        <slot />
      </article>
      <footer class="article-footer"></footer>
    </main>
    <Footer />
  </body>
</html>

<style>
  :global(.content-grid) {
    --_max-width: var(--max-article-width);
  }
</style>
